{{ if or (.Values.ztIdentity) (.Values.ztIdentityEncoding) }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "httpbin.fullname" . }}-identity
type: Opaque
data:
  {{- if .Values.ztIdentityEncoding }}
  zt_identity_json: {{ .Values.ztIdentityEncoding }}
  {{- else }}
  zt_identity_json: {{ .Values.ztIdentity | b64enc }}
  {{- end }}
{{- end }}

{{- if .Values.ztEnrollment }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "httpbin.fullname" . }}-enrollment
data:
  zt_enrollment_jwt: {{ .Values.ztEnrollment | b64enc }}
{{- end }}
