name: zt-mattermost-action-py
on:
  create:
  delete:
  issues:
  issue_comment:
  pull_request_review:
    types: [submitted]
  pull_request_review_comment:
  pull_request:
    types: [opened, reopened]
  push:
  fork:
  release:
    types: [released]
  workflow_dispatch:

jobs:
  zt-webhook:
    runs-on: ubuntu-latest
    name: Ziti Mattermost Action - Py
    steps:
    - uses: hanzozt/zt-mattermost-action-py@main
      if: ${{ env.ZHOOK_URL_DEV_NOTIFICATIONS != null }}
      env:
          ZHOOK_URL: ${{ secrets.ZHOOK_URL_DEV_NOTIFICATIONS }}
      with:
        # Identity JSON containing key to access a Ziti network
        ztId: ${{ secrets.ZITI_MATTERMOST_IDENTITY }}

        # URL to post the payload. Note that the `ztId` must provide access to a service 
        # intercepting `my-mattermost-zt-server`
        webhookUrl: ${{ secrets.ZHOOK_URL_DEV_NOTIFICATIONS }}

        eventJson: ${{ toJson(github.event) }}
        senderUsername: "GitHubZ"
        destChannel: "dev-notifications"
